{% extends 'base.html' %}


{% block head %}

{% endblock %}

<!-- --------------------------------SUBHEADING------------------------------------------- -->
{% block body %}
<div id="container">
  <div class="left">
    <h2>Employees</h2>
    <p>[Create, Read, Update, and Delete for Employees]</p>
    <p>Employee(s) assigned to help customer of specific order.</p>
  </div>
</div>
<!-- -----------------------------------TABLE---------------------------------------- -->
<table style="width: 100%">
  <tr>
    {% for key in employees[0].keys() %}
    <th>{{ key }}</th>
    {% endfor %}
  </tr>
  {% for employee in employees %}
  <tr>
    {% for key in employee.keys() %}
    <td>{{employee[key]}}</td>
    {% endfor %}
    <td>
      <form action="{{ url_for('employees') }}" method="post"> 
        <input class="btn" type="submit" name="VIEW" value="View">
      </form>
      <form action="{{ url_for('employees') }}" method="post"> 
        <input class="btn" type="submit" name="UPDATE" value="Update">   
      </form> 
      <form action="{{ url_for('delete_employees', id=employee.employee_id) }}" method="post"> 
        <input class="btn" type="submit" name="DELETE" value="Delete">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<br>
<!-- ---------------------------------FORM------------------------------------------ -->
<form id=employees action="/add_employees" method="POST">
  <input type="text" placeholder="First Name" name="first_name" required>
  <input type="text" placeholder="Last Name" name="last_name" required>
  <input type="submit" value="Submit">
</form>
{% endblock %}
