<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv= "X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('customers') }}">Customers</a></li>
          <li><a href="{{ url_for('orders') }}">Orders</a></li>
          <li><a href="{{ url_for('transactions') }}">Transactions</a></li>
          <li><a href="{{ url_for('products') }}">Products</a></li>
          <li><a href="{{ url_for('employees') }}">Employees</a></li>
        </ul>
    </nav>
<!-- --------------------------------SUBHEADING------------------------------------------- -->
  <div id="container">
    <div class="left">
      <h2>Update Customer</h2>
    </div>
  </div>
<!-- -----------------------------------TABLE---------------------------------------- -->
  <form action="{{ url_for('update_customers', id=id) }}" method="POST"> 
    <input type="text" placeholder="{{ update_customers[0].first_name }}" name="first_name" value="{{ update_customers[0].first_name }}">
    <input type="text" placeholder="{{ update_customers[0].last_name }}" name="last_name" value="{{ update_customers[0].last_name }}">
    <input type="text" placeholder="{{ update_customers[0].address }}" name="address" value="{{ update_customers[0].address }}">
    <input type="tel" placeholder="{{ update_customers[0].phone_number }}" name="phone_number" value="{{ update_customers[0].phone_number }}">
    <input type="submit" value="Update">
  </form>
</body>
</html>
